[submodule "envoy"]
	path = envoy
	url = https://github.com/ipuustin/envoy.git
	branch = openssl-container
[submodule "intel-device-plugins-for-kubernetes"]
	path = intel-device-plugins-for-kubernetes
	url = https://github.com/intel/intel-device-plugins-for-kubernetes.git
	branch = master
